<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.se_02_mobilepos_ver2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CategoryAct"></activity>
        <activity android:name=".MenuDel"></activity>
        <activity android:name=".MenuEdit"></activity>
        <activity android:name=".MenuManage"></activity>
        <activity android:name=".MenuAdd" />
        <activity android:name=".ctgManage" />
        <activity android:name=".ordSht"/>
        <activity android:name=".Receipt"/>

    </application>

</manifest>